<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>Un formulaire de bienvenu avec AngularJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body ng-app="monApp">
<div class="container" ng-controller="monControl">
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Bienvenu sur mon site</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Quel est ton nom ?</label>
                <div class="col-md-8">
                    <input ng-model="nom" id="textinput" name="textinput" type="text" placeholder="Ton nom ici..." class="form-control input-md" required="required">
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectbasic">Quel âge as-tu ?</label>
                <div class="col-md-4">
                    <select ng-model="nb" id="selectbasic" name="selectbasic" class="form-control" required="required">
                        <option ng-repeat="nb in range" value="{{nb}}">{{nb}}</option>
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Où est-ce que tu habite ?</label>
                <div class="col-md-8">
                    <input ng-model="ville" id="textinput" name="textinput" type="text" placeholder="Ta ville ici..." class="form-control input-md" required="required">

                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button ng-click="afficherReponse()" id="singlebutton" name="singlebutton" class="btn btn-primary">Valider</button>
                </div>
            </div>
    </fieldset>
</form>


    <div class="jumbotron" ng-show="reponse">
        <h1>Je te souhaite bonjour, {{nom}}</h1>

        <p>Je ne te connais pas encore mais je sais que tu as <strong>{{nb}}</strong> ans</p>

        <p>Et aussi que tu habite cette ville : <strong>{{ville}}</strong></p>
    </div>

    <div class="btn-alert" ng-show="alert">
        <p>Merci de bien vouloir remplir tous les champs</p>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
<script>

    var monApp = angular.module('monApp', []);

    monApp.controller('monControl', function monControl ($scope) {

        // Les âges de 0 à 99
        var range = [];
        total = 100;
        for(var i=0;i<total;i++) {
            range.push(i);
        }
        $scope.range = range;


        // Par défault, la div class jumbotron n'est pas visible, la variable passé à ng-show est false
        $scope.reponse = false;
        $scope.alert = false;

        // Pour afficher la réponse, on met une directive ng-click sur le bouton pour passer la variable à true
        $scope.afficherReponse = function () {
            if ($scope.nom && $scope.nb && $scope.ville != null) { // Si tous les champs sont remplis
                $scope.reponse = true; // On affiche une réponse
                $scope.alert = false; // On n'affiche pas d'alerte
            }
            else {
                $scope.reponse = false; // On affiche une alerte
                $scope.alert = true; // On n'affiche pas de réponse
            }
        }

    });

</script>
</html>