<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>Un formulaire de bienvenu avec AngularJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body ng-app="monApp"> <!-- module angular -->
<div class="container" ng-controller="monControl"> <!-- controller angular -->
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Bienvenu sur mon site</legend>

            <!-- Text input nom -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Quel est ton nom ?</label>
                <div class="col-md-8">
                    <input ng-model="nom" id="textinput" name="textinput" type="text" placeholder="Ton nom ici..." class="form-control input-md" required="required">
                </div>
            </div>

            <!-- Select Basic age -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectbasic">Quel âge as-tu ?</label>
                <div class="col-md-4">
                    <select ng-model="nb" id="selectbasic" name="selectbasic" class="form-control" required="required">
                        <option ng-repeat="nb in range" value="{{nb}}">{{nb}}</option>
                    </select>
                </div>
            </div>

            <!-- Text input ville -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Où est-ce que tu habite ?</label>
                <div class="col-md-8">
                    <input ng-model="ville" id="textinput" name="textinput" type="text" placeholder="Ta ville ici..." class="form-control input-md" required="required">

                </div>
            </div>

            <!-- Button de validation -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button ng-click="afficherReponse()" id="singlebutton" name="singlebutton" class="btn btn-primary">Valider</button>
                </div>
            </div>
    </fieldset>
</form>


    <!-- Réponse à la validation du formulaire -->
    <div class="jumbotron" ng-show="reponse">
        <h1>Je te souhaite bonjour, {{nom}}</h1>

        <p>Je ne te connais pas encore mais je sais que tu as <strong>{{nb}}</strong> ans</p>

        <p>Et aussi que tu habite cette ville : <strong>{{ville}}</strong></p>
    </div>

    <!-- Alert si le formulaire n'est pas correctement rempli -->
    <div class="btn-alert" ng-show="alert">
        <p>Merci de bien vouloir remplir tous les champs</p>
    </div>
</div>
</body>
<!-- Lib framework AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>

<!-- Module angularJS -->
<script src="js/app.js"></script>

<!-- Controller -->
<script src="js/controller/MainController.js"></script>
</html>